.containerHeader{
    display: flex;
    background-color: antiquewhite;
    align-content: center;
    width: 20%;
    flex-direction: column;

}

.headerItem1{
    height: 20%;
}

.headerItem2{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;

}
.labelItem{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: 20px
}

.formStyle{
    margin-bottom: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 150px;
    align-items: center;
    font-size: 15px
}
.buttonStyle{
    display: flex;
    align-content:center; 
    align-items: center;
    flex-direction: column-reverse;
    margin: 20px;

}
.buttonItem{
    color: blue;

}
.toggleLabelItem{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: 20px
}

.toggleFormStyle{
    margin-bottom: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 150px;
    align-items: center;
    font-size: 15px
}